<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {%- comment -%}
  Balise description et auteur
  {%- endcomment -%}
  <meta name="description" content="Le site de Creeper">
  <meta name="author" content="Tristan BRINGUIER">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://creeper.fr/">

  {%- comment -%}
  Open Graph
  {%- endcomment -%}
  <meta property="og:type" content="website">
  <meta property="og:title" content="creeper.fr">
  <meta property="og:description" content="Le site de Creeper">
  <meta property="og:url" content="https://creeper.fr/">
  <meta property="og:image" content="https://creeper.fr/assets/img/groot.jpg">
  <meta property="og:site_name" content="creeper.fr">
  <meta property="og:locale" content="fr_FR">
  
  {%- comment -%}
  Twitter Card
  {%- endcomment -%}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="creeper.fr">
  <meta name="twitter:description" content="Le site de Creeper">
  <meta name="twitter:image" content="https://creeper.fr/assets/img/groot.jpg">
  
  {%- comment -%}
  JSON-LD unique
  {%- endcomment -%}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://creeper.fr/",
    "name": "creeper.fr",
    "description": "Le site de Creeper",
    "author": {
      "@type": "Person",
      "name": "Tristan BRINGUIER"
    },
    "publisher": {
      "@type": "Organization",
      "name": "creeper.fr",
      "logo": {
        "@type": "ImageObject",
        "url": "https://creeper.fr/assets/img/groot.jpg"
      }
    }
  }
  </script>

  <title>creeper.fr - Le site de Creeper</title>
  
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="creeper.fr" href="/atom.xml">
  <link rel="alternate" type="application/json" title="creeper.fr" href="https://creeper.fr/feed.json">
  <link rel="sitemap" type="application/xml" title="sitemap" href="/sitemap.xml">

  {%- comment -%}
  Vos styles inline compilés depuis SCSS
  {%- endcomment -%}
  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
